[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/rcmp"]
	path = third_party/rcmp
	url = https://github.com/Smertig/rcmp
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/kiero"]
	path = third_party/kiero
	url = https://github.com/Rebzzel/kiero
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/Il2CppDumper"]
	path = third_party/Il2CppDumper
	url = https://github.com/Perfare/Il2CppDumper.git
